/* CSS Reset */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #f2f2f2; 

	font-family: 'Oswald', sans-serif;
}

/* target the html element called body */
/* start of body */
body {
	/*background-color: skyblue;*/
	/*background-image: url('../images/bg.jpg');*/
	/*background-image: url(https://media.giphy.com/media/qPa9vUYCUrx6w/giphy.gif);*/
	background-image: linear-gradient(rgba(160, 160, 160, 0.80), rgba(56, 56, 56, 0.01)), url(https://media.giphy.com/media/qPa9vUYCUrx6w/giphy.gif);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
}

/* end body */

.container {
	width: 500px;
	margin: 0 auto; /*centers horizontally */
	text-align: center;
}

/* start h1 */
h1	{
	font-size: 50px;
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: 5px;
	background-color: #333; /* off black */
	font-family: 'Oswald', sans-serif;
}
/* end h1 */

/* start h2 */
h2	{
	color: yellow;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 15px;
	background-color: #333;
	border-radius: 10px;
	font-family: 'Oswald', sans-serif;

	/*padding vs margin*/
	/*margin: 10px;*/
	padding: 10px;
}
/* end h2 */

/* target the element with the class bio */
.bio {
	font-size: 18px;
	/* multiplied to the current line height */
	line-height: 1.75;

	background-color: rgba(51, 51, 51, 0.5);

	/*background-color: rgb(51,51,51);*/
	/*opacity: 0.5;*/
}
/* end bio */

/* targets the element with the id "me" */

#me {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-color: white;
	border-width: 5px;
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 25px;
}